{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block content %}
<section>
        <div class='avis-title'>
            <h1 class='title-text'><b>Avis</b></h1>
        </div>
    <div class="formType">
        <h1 class="sub-title">Mettez un avis</h1>
        {{form_start(form)}}
            <table>
                <tr>
                    <td>{{form_label(form.pseudo)}}</td>
                    <td>{{form_widget(form.pseudo, {"full_name": "pseudo"})}}</td>
                </tr>
                <tr>
                    <td>{{form_label(form.avis)}}</td>
                    <td>{{form_widget(form.avis, {"full_name":"avis"})}}</td>
                </tr>
            </table>
            <button type="submit" class="btn-form">Créer</button>
        {{form_end(form)}}
    </div>
<section>
{% endblock %}
