{% extends 'base.html.twig' %}

{% block title %}habits{% endblock %}

{% block style %}url("img/allHabitatsBackground.jpg"){% endblock style %}

{% block content %}
<section class="habitatsPage">
        {%if is_granted("ROLE_ADMINISTRATION") %}
            <div class="modifier" onClick="btnModif('/modifAllHabitats/index')">
                <button id="btn-modif">Modifier</button>
            </div>
        {% endif %}
    <div class="allHabitats">
        {% for habitat in allHabitats %}
            <div class="habitat" onClick = "window.location.replace(`habitats/{{habitat.id}}`);">
                <img class="habitatImg mx-auto d-block habitatImg" src="img/{{habitat.img}}" width="400px" height="250px"> 
                <h3 class="text-center">{{habitat.name}}</h3>
                <p class="text-center"><b>description</b>: {{habitat.description}}</p>
                <p class="text-center"><b>commentaire vétérinaire</b>: {{habitat.commentaire}}</p>
            </div>
        {% endfor %}
    </div>
</section>
<script src="../js/btnModif.js"></script>

{% endblock content %}
