{% extends 'base.html.twig' %}

{% block title %}Hello ModifSchedulleController!{% endblock %}

{% block content %}
    <section>
        <div class='title_modifSchedule'>
                <h1 class='titleModifScheduleText'>Espace administration</h1>
            </div>
        <div class="formType">
            <h1 class="sub-title">modifier les horraires</h1>
            {{form_start(form)}}
                <table>
                    <tr>
                        <td>{{form_label(form.jour)}}</td>
                        <td>{{form_widget(form.jour, {"full_name":"jour"})}}</td>
                    </tr>
                    <tr>
                        <td>{{form_label(form.am)}}</td>
                        <td>{{form_widget(form.am,{"full_name":"am"})}}</td>
                    </tr>
                    <tr>
                        <td>{{form_label(form.pm)}}</td>
                        <td>{{form_widget(form.pm, {"full_name":"pm"})}}</td>
                    </tr>
                </table>
                <button type="submit" class="btn-form">Mettre à jour</button>
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}
