{% extends 'base.html.twig' %}

{% block title %}Connecton{% endblock %}

{% block content %}
    <section>
        <div class="connectionTitle">
            <h1 class="bigTitleBackground">Connection</h1>
        </div>
        <div class="formType">
            <hr>
            <h2>Connection employé et vétérinaire</h2>
            <hr>
            {{form_start(form)}}
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <table>
                    <tr>
                        <th>{{ form_label(form.username) }}</th>
                        <td>{{ form_widget(form.username, {'full_name':'username'})}}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.password) }}</th>
                        <th>{{ form_widget(form.password,{'full_name':'password'}) }}</th>
                    </tr> 
                </table>
                <button type="submit" class='btn-form'>Connection</button>
            {{form_end(form)}}
        </div>
    </section>
{% endblock  content %}


